Duncan.PEMS.Web/App_Data/rbac_configs/Duncan.Auth.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:simpleType name="action_type">
								<xs:restriction base="xs:string">
												<xs:enumeration value="Add"/>
												<xs:enumeration value="Delete"/>
												<xs:enumeration value="Update"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="action_type_menu">
								<xs:restriction base="xs:string">
												<xs:enumeration value="Clear"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:element name="Customer">
								<xs:element maxOccurs="1" minOccurs="0" name="Users">
												<xs:complexType>
																<xs:sequence>
																				<xs:element name="User">
																								<xs:complexType>
																												<xs:attribute name="Action" type="action_type" use="optional"/>
																												<xs:attribute name="Name" type="xs:string" use="required"/>
																												<xs:attribute name="SID" type="xs:string" use="optional"/>
																								</xs:complexType>
																				</xs:element>
																</xs:sequence>
												</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="Groups">
												<xs:complexType>
																<xs:sequence>
																				<xs:element maxOccurs="unbounded" name="Group">
																								<xs:complexType>
																												<xs:sequence>
																																<xs:element name="Member" type="xs:string">
																																				<xs:complexType>
																																								<xs:attribute name="Action" type="action_type" use="optional"/>
																																				</xs:complexType>
																																</xs:element>
																												</xs:sequence>
																												<xs:attribute name="Name" type="xs:string" use="required"/>
																												<xs:attribute name="SID" type="xs:string" use="optional"/>
																												<xs:attribute name="Action" type="action_type" use="optional"/>
																								</xs:complexType>
																				</xs:element>
																</xs:sequence>
												</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="Applications">
												<xs:complexType>
																<xs:sequence>
																				<xs:element maxOccurs="unbounded" name="Application">
																								<xs:complexType>
																												<xs:sequence>
																																<xs:element maxOccurs="unbounded" name="Operation" type="xs:string"/>
																												</xs:sequence>
																												<xs:attribute name="Name" type="xs:string" use="required"/>
																												<xs:attribute name="Action" type="action_type" use="optional"/>
																								</xs:complexType>
																				</xs:element>
																</xs:sequence>
												</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="AuthTree">
												<xs:complexType>
																<xs:sequence>
																				<xs:element maxOccurs="unbounded" name="AuthItem">
																								<xs:complexType>
																												<xs:sequence>
																																<xs:element maxOccurs="unbounded" name="AuthItem">
																																				<xs:complexType>
																																								<xs:sequence>
																																												<xs:element name="Operations">
																																																<xs:complexType>
																																																				<xs:sequence>
																																																								<xs:element maxOccurs="unbounded" name="Operation" type="xs:string"/>
																																																				</xs:sequence>
																																																</xs:complexType>
																																												</xs:element>
																																												<xs:element name="Authorizations">
																																																<xs:complexType>
																																																				<xs:sequence>
																																																								<xs:element maxOccurs="unbounded" name="Authorize" type="xs:string"/>
																																																				</xs:sequence>
																																																</xs:complexType>
																																												</xs:element>
																																								</xs:sequence>
																																								<xs:attribute name="Name" type="xs:string" use="required"/>
																																								<xs:attribute name="authtext" type="xs:string" use="required"/>
																																				</xs:complexType>
																																</xs:element>
																												</xs:sequence>
																												<xs:attribute name="Name" type="xs:string" use="required"/>
																												<xs:attribute name="authtext" type="xs:string" use="required"/>
																												<xs:attribute name="Action" type="action_type" use="optional"/>
																								</xs:complexType>
																				</xs:element>
																</xs:sequence>
												</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="MenuTree">
												<xs:complexType>
																<xs:sequence>
																				<xs:element maxOccurs="unbounded" name="MenuItem">
																								<xs:complexType>
																												<xs:sequence>
																																<xs:element maxOccurs="unbounded" minOccurs="0" name="MenuItem">
																																				<xs:complexType>
																																								<xs:sequence>
																																												<xs:element name="Link">
																																																<xs:complexType>
																																																				<xs:attribute name="operation" type="xs:string" use="required"/>
																																																				<xs:attribute name="application" type="xs:string" use="required"/>
																																																</xs:complexType>
																																												</xs:element>
																																								</xs:sequence>
																																								<xs:attribute name="Name" type="xs:string" use="required"/>
																																								<xs:attribute name="menutext" type="xs:string" use="required"/>
																																								<xs:attribute name="tooltip" type="xs:string" use="required"/>
																																								<xs:attribute name="Action" type="action_type" use="optional"/>
																																				</xs:complexType>
																																</xs:element>
																																<xs:element minOccurs="0" name="Link">
																																				<xs:complexType>
																																								<xs:attribute name="operation" type="xs:string" use="required"/>
																																								<xs:attribute name="application" type="xs:string" use="required"/>
																																								<xs:attribute name="Action" type="action_type" use="optional"/>
																																				</xs:complexType>
																																</xs:element>
																												</xs:sequence>
																												<xs:attribute name="Name" type="xs:string" use="required"/>
																												<xs:attribute name="menutext" type="xs:string" use="required"/>
																												<xs:attribute name="tooltip" type="xs:string" use="optional"/>
																												<xs:attribute name="menuicon" type="xs:string" use="required"/>
																												<xs:attribute name="Action" type="action_type" use="optional"/>
																								</xs:complexType>
																				</xs:element>
																</xs:sequence>
																<xs:attribute name="Action" type="action_type_menu" use="optional"/>
												</xs:complexType>
								</xs:element>
								<xs:complexType>
												<xs:attribute name="Name" type="xs:string" use="required"/>
								</xs:complexType>
				</xs:element>
</xs:schema>
