Duncan.PEMS.Entities/WebServices/FieldMaintenance/FieldMaintenanceSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://www.duncansolutions.com/alarmworkorderv1" elementFormDefault="qualified" targetNamespace="http://www.duncansolutions.com/alarmworkorderv1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Data">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="Request">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded"
                name="WorkOrder">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="ActiveAlarm">
                      <xsd:complexType>
                        <xsd:attribute name="EventCode" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventSource" type="xsd:integer"
                            use="required" />
                        <xsd:attribute name="TimeOfOccurrance"
                            type="xsd:dateTime" use="required" />
                        <xsd:attribute name="TimeOfNotification"
                            type="xsd:dateTime" use="required" />
                        <xsd:attribute name="Notes" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="cid" type="xsd:integer"
                        use="required" />
                  <xsd:attribute name="aid" type="xsd:integer"
                      use="required" />
                  <xsd:attribute name="mid" type="xsd:integer"
                      use="required" />
                  <xsd:attribute name="WorkOrderId" type="xsd:integer"
                     use="required" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded"
                 name="ActiveAlarms">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="ActiveAlarm">
                      <xsd:complexType>
                        <xsd:attribute name="cid" type="xsd:integer"
                            use="required" />
                        <xsd:attribute name="aid" type="xsd:integer"
                            use="required" />
                        <xsd:attribute name="mid" type="xsd:integer"
                             use="required" />
                        <xsd:attribute name="EventUID" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventCode" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventSource" type="xsd:integer"
                         />
                        <xsd:attribute name="TimeOfOccurrance"
                          type="xsd:dateTime" />
                        <xsd:attribute name="TimeOfNotification"
                          type="xsd:dateTime" />
                        <xsd:attribute name="SLADue" type="xsd:dateTime" />
                        <xsd:attribute name="Notes" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="TimeOfNotification"
                     type="xsd:dateTime" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="HistoricalAlarms">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="HistoricalAlarm">
                      <xsd:complexType>
                        <xsd:attribute name="cid" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="aid" type="xsd:integer"
                             use="required" />
                        <xsd:attribute name="mid" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventCode" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventSource" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="ClearingEventUID"
                           type="xsd:integer" />
                        <xsd:attribute name="EventUID" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventState" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="TimeOfOccurrance"
                            type="xsd:dateTime" use="required" />
                        <xsd:attribute name="TimeOfNotification"
                            type="xsd:dateTime" use="required" />
                        <xsd:attribute name="TimeOfClearance"
                           type="xsd:dateTime" use="required" />
                        <xsd:attribute name="SLADue" type="xsd:dateTime" />
                        <xsd:attribute name="notes" type="xsd:string" />
                        <xsd:attribute name="WorkOrderId" type="xsd:integer"
                        />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Response">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded"
                   name="WorkOrder">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="ActiveAlarm">
                      <xsd:complexType>
                        <xsd:attribute name="EventCode" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventSource" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="TimeOfOccurrance"
                           type="xsd:dateTime" use="required" />
                        <xsd:attribute name="TimeOfNotification"
                           type="xsd:dateTime" use="required" />
                        <xsd:attribute name="EventUID" type="xsd:integer" />
                        <xsd:attribute name="SLADue" type="xsd:dateTime" />
                        <xsd:attribute name="Notes" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="cid" type="xsd:integer"
                     use="required" />
                  <xsd:attribute name="aid" type="xsd:integer"
                     use="required" />
                  <xsd:attribute name="mid" type="xsd:integer"
                     use="required" />
                  <xsd:attribute name="WorkOrderId" type="xsd:integer"
                     use="required" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded"
                 name="ActiveAlarms">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="ActiveAlarm">
                      <xsd:complexType>
                        <xsd:attribute name="cid" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="aid" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="mid" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventUID" type="xsd:integer"
                           use="required" />
                        <xsd:attribute name="EventCode" type="xsd:integer"
                            use="required" />
                        <xsd:attribute name="EventSource" type="xsd:integer"
                         />
                        <xsd:attribute name="TimeOfOccurrance"
                           type="xsd:dateTime" />
                        <xsd:attribute name="TimeOfNotification"
                            type="xsd:dateTime" />
                        <xsd:attribute name="SLADue" type="xsd:dateTime" />
                        <xsd:attribute name="Notes" type="xsd:string" />
                        <xsd:attribute name="WorkOrderId" type="xsd:integer"
                              />
                        <xsd:attribute name="Closed" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="TimeOfNotification"
                     type="xsd:dateTime" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="HistoricalAlarms">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded"
                                              name="HistoricalAlarm">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="statusCode" type="xsd:integer" />
                        </xsd:sequence>
                        <xsd:attribute name="EventUID" type="xsd:integer"
                           use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Error">
          <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="Message" type="xsd:string" />
              <xsd:element minOccurs="0" name="Code" type="xsd:string" />
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
